name: CD Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest



    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to k3s via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            export KUBECONFIG=$HOME/.kube/config
            cd app-devops-flow/k8s
            kubectl apply -f configmap.yml
            kubectl apply -f deployment.yml
            kubectl apply -f service.yml
